<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519214605650-76a613ee3245?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
  <div class="container">
    <h1 class="mb-3">Le 13</h1>
    <p>Venez, <span id="banner-typed-text"></span></p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="title title-small d-flex justify-content-between align-items-center">
    <h1 class="m-3">Nos cocktails</h1>
    <%= link_to "Ajouter un cocktail", new_cocktail_path, class:"btn btn-success mr-3" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-start flex-wrap present">
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card">
                <%= cl_image_tag cocktail.photo.key, crop: :fill %>
              <div class="card-info">
                <h3 class="pl-2"><%= cocktail.name %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to "Tous nos ingredients", ingredients_path %> au 13
  </div>
</div>
