<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "A la maison", cocktails_path, class: "btn btn-success" %>
      </li>
    </ul>
  </div>
  <div>
    <%= link_to "Ajouter des ingredients", new_cocktail_dose_path(@cocktail), class:"btn btn-success" %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card-show">
        <%= cl_image_tag @cocktail.photo.key, crop: :fill %>
        <h3>Ingrédients</h3>
        <ol>
          <% @cocktail.doses.each do |dose| %>
            <li style="color: $gray"><%= dose.ingredient.name %>: <%= dose.description %>
              <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to "Tous nos ingredients", ingredients_path %> au 13
  </div>
</div>
